MySql ASSIGNMENT

Assignment Questions and solution by-SADDAM ANSARI for PW-SKILLS during the data science masters program course

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database- A database is a structured collection of data that is organized and stored for efficient retrieval, management, and manipulation.

Differentiating between SQL and NoSQL databases:

1.SQL Databases:
* SQL (Structured Query Language) databases are relational databases that store data in tables with predefined schemas.

* SQL databases are best suited fot structured and well-defined data with fixed schemas.

* Populara SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

2.NoSQL Databases:
* NoSQL (Not Only SQL) databases are non-relational databases.

* They can handle unstructured, semi-structured, and rapidly changing data formats.

* Popular NoSQL databases include MongoDB, Cassandra, Redis, and Elasticsearch.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL: stands for Data Definition Language. DDL statements are used to create, modify, and delete.

1. CREATE: The CREATE statement is used to create new database objects like as table , colum and etc.
        eg: CREAT TABLE emp_info(
            id INT,
            name VARCHAR(50),
            email VARCHAR(100)
            );
            

2. DROP: The DROP statement is used to remove or delete existing database objects.
        eg: DROP TABLE emp_info;
        
        
3. ALTER: The ALTER statement is used to modify the structure of an existing database object.
        eg: ALTER TABLE emp_info
            ADD COLUMN address VARCHAR(255);
            
4. TRUNCATE: The TRUNCATE statement is used to delete all data from a table, but keeps the table structure intact.
        eg: TRUNCATE TABLE emp_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

* DML: stands for Data Manipulation Language. It is used to retrieve, insert, update, and delete data within a database.

1. INSERT: The INSERT statement is used to add new rows or records into a table.eg: INSERT INTO emp_info (name, email, phone) VALUES('Saddam Ansari',saddam123@.com','7564012305');


2. UPDATE: The UPDATE statement is used to modify or update existing records within a table. eg: UPDATE emp_info SET email = 'saddam1223@gmail.com' WHERE name = Saddam Ansari;

3. DELETE: The DELETE statement is used to remove one or more rows from a table. 
eg: DELETE FROM emp_info
WHERE name = Saddam Ansari;

Q4. What is DQL? Explain SELECT with an example.

* DQL:  stands for Data Query Language. It is used to retrieve and query data from a database. 

* SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. eg: SELECT name, email
FROM emp_info;

Q5. Explain Primary Key and Foreign Key.

* Primary Key:
In a relational database, a primary key is a column or combination of columns that uniquely identifies each row or record in a table.

* Foreign Key:
A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables by enforcing referential integrity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

connection = mysql.connector.connect(
    host="localhost",
    user="saddam123",
    password="saddam123",
    database="my_obj"
)

* The cursor() method creates a cursor object, which acts as a handle or control structure for executing SQL statements and managing the result sets. It provides methods like execute(), fetchone(), fetchall(), etc., to interact with the database.

* The execute() method is used to execute an SQL query or statement. It takes the SQL query as a parameter and performs the corresponding database operation, such as retrieving data, inserting records, updating values, etc.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query generally follows this sequence:

* FROM: Specifies the table or tables from which the data will be retrieved.
* JOIN: Specifies the join conditions to combine data from multiple tables.
* WHERE: Applies conditions to filter the rows that satisfy the specified criteria.
* GROUP BY: Groups the rows based on specified columns.
* HAVING: Applies conditions to filter the grouped rows.
* SELECT: Specifies the columns to be retrieved.
* DISTINCT: Removes duplicate rows from the result set (optional).
* ORDER BY: Sorts the result set based on specified columns.
* LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows (optional).

* SADDAM ANSARI
* 13/07/2023
* SAHASA